h1 {
    border-bottom-color: red;
    border-top-color: yellow;
    border-right-color: blue;
    border-left-color: green;
    font-family: Georgia;
}
p {
    color: purple;
    outline-color: gold;
    margin-top: 75px;
}
.practiceFloat {
    float: right;
}